extends ../layout/main-layout.pug

block styles 
  link(rel="stylesheet", href="/css/main.css")
  link(rel="stylesheet" , href="/css/auth.css")
  link(rel="stylesheet" , href="/css/forms.css")

block content
  main
    if (errors[0])
      div.message.eror-message #{errors[0].msg}
    form.login-form(action="/signup" method="POST" novalidate)
      div.form-control
        label(for="email") E-Mail
        input(
          type="email" 
          name="email" id="email"
          class = ( errors.find(e => e.param === "email") ? "invalid": "")
          value = userInput.email)
      div.form-control
        label(for="password") Password
        input(
          type="password"
           name="password"
            id="password" 
            class = ( errors.find(e => e.param === "email") ? "invalid": "")
            value =userInput.password)  
      div.form-control
        label(for="checkPassword") CheckPassword
        input(
          type="password"
          name="checkPassword"
          id="checkPassword"
          class = ( errors.find(e => e.param === "email") ? "invalid": "")
          value = userInput.checkPassword)  
        input(type="hidden", name="_csrf", value = csrfToken)
      button.btn(type="submit") Sign Up